*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #dada;
}
#center{
  
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(0%,-50%);
    
    height: 80%;
    width: 70%;
    background-color: red;
}
.imagecontainer{
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
}
img{
  
    height: 100%;
  
}